<lib-urb-nav-bar [title]="title" [navLinks]="navLinks">

    <div top-nav>

        <span *ngFor="let tile of test">
            {{tile.text}}
        </span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voicemail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>



    </div>

    <div main>
        <mat-grid-list cols="4" style="min-height:1900px;" rowHeight="100px">
            <mat-grid-tile *ngFor="let tile of test" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
                {{tile.text}}
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</lib-urb-nav-bar>

<router-outlet></router-outlet>