@import "../node_modules/@angular/material/theming";

@include mat-core();

// blue #00729f
// green #39aa5c
// yellow #face39

$mat-primary: (
  50: #e0ecf6,
  100: #b3d1e9,
  200: #80b2da,
  300: #4d93cb,
  400: #267bc0,
  500: #0064b5,
  600: #005cae,
  700: #0052a5,
  800: #00489d,
  900: #00368d,
  A100: #b9cfff,
  A200: #86abff,
  A400: #5388ff,
  A700: #3a76ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);
$mat-accent: (
  50: #e2f5e0,
  100: #b7e6b3,
  200: #87d680,
  300: #57c64d,
  400: #33b926,
  500: #0fad00,
  600: #0da600,
  700: #0b9c00,
  800: #089300,
  900: #048300,
  A100: #b0ffb0,
  A200: #7dff7d,
  A400: #4aff4a,
  A700: #30ff30,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$mat-accent1: (
  50: #fff3e0,
  100: #ffe0b3,
  200: #ffcc80,
  300: #ffb84d,
  400: #ffa826,
  500: #ff9900,
  600: #ff9100,
  700: #ff8600,
  800: #ff7c00,
  900: #ff6b00,
  A100: #ffffff,
  A200: #fff7f2,
  A400: #ffd6bf,
  A700: #ffc6a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$mat-warn: (
  50: #ffe0e0,
  100: #ffb3b3,
  200: #ff8080,
  300: #ff4d4d,
  400: #ff2626,
  500: #ff0000,
  600: #ff0000,
  700: #ff0000,
  800: #ff0000,
  900: #ff0000,
  A100: #ffffff,
  A200: #fff2f2,
  A400: #ffbfbf,
  A700: #ffa6a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$custom-theme-primary: mat-palette($mat-primary);
$custom-theme-accent: mat-palette($mat-accent);
$custom-theme-warn: mat-palette($mat-warn);
$custom-theme: mat-light-theme(
  $custom-theme-primary,
  $custom-theme-accent,
  $custom-theme-warn
);
@include mat-core-theme($custom-theme);
@include mat-button-theme($custom-theme);
@include mat-checkbox-theme($custom-theme);
@include angular-material-theme($custom-theme);
// 23ab40
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
::ng-deep .mat-simple-snackbar {
  background-color: #c00003;
  color: white;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
